<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Live Streaming Detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="keywords" content="Object Detection" />
    <script>
      addEventListener(
        "load",
        function () {
          setTimeout(hideURLbar, 0);
        },
        false
      );

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <!-- Custom Theme files -->
    <link
      href="{{ url_for('static', path='css/bootstrap.css') }}"
      type="text/css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="{{ url_for('static', path='css/style.css') }}"
      type="text/css"
      rel="stylesheet"
      media="all"
    />
    <!-- font-awesome icons -->
    <link
      href="{{ url_for('static', path='css/font-awesome.min.css') }}"
      rel="stylesheet"
    />
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
      rel="stylesheet"
    />
    <!-- //online-fonts -->
  </head>

  <body>
    <section class="main-banner" id="home">
      <div class="layer">
        <div class="header-wthree-top-w3layouts text-right">
          <h1 class="logo">
            <a href="/">Live Streaming Object/Emotion Detection</a>
          </h1>
          <ul class="list-unstyled apps-lists text-right">
            <li>
              <a href="/object-detection/" class="btn">Detect Object</a>
            </li>
            <li>
              <a href="/emotion/" class="btn">Detect Emotion</a>
            </li>
          </ul>
        </div>
        <div class="container">
          <div class="baner-info-w3layouts text-center">
            <h3>Live Streaming Detection</h3>
            <h6 class="mx-auto mt-md-4 mt-3">
              OpenCV is the huge open-source library for computer vision,
              machine learning, and image processing and now it plays a major
              role in real-time operation. It can process images and videos to
              identify objects, faces, or even the handwriting of a human.
            </h6>
            <h6 class="mx-auto mt-md-4 mt-3">
              TensorFlow is a free and open-source software library for machine
              learning and artificial intelligence. It can be used across a
              range of tasks but has a particular focus on training and
              inference of deep neural networks.
            </h6>
          </div>
        </div>
      </div>
    </section>
    <!-- //banner -->
    <!--/ banner-bottom-w3ls -->
  </body>
</html>
